<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcd3d5b.bookingsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".riddle"></activity>
        <activity android:name=".ProfessorChoiceActivity" />
        <activity android:name=".ProfessorTimetableActivity" />
        <activity android:name=".game2048.easy" />
        <activity android:name=".game2048.hard" />
        <activity android:name=".game2048.newGameField" />
        <activity android:name=".game2048.Game2048MainActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".ChoiceActivity" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>